{
  "test": ".*.ts$",
  "env": {
    "targets": {
      "node": "20.19"
    }
  },
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    }
  }
}
